body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 400px;
	margin: auto;
}
.postcard-body {
	display: flex;
}
.body-left {
	padding: 0.5cm;
	font-family: cursive;
	font-style: italic;
	font-size: 15px;
}
.body-right {
	padding: 0.5cm;
	font-family: cursive;
	font-size: small;
	line-height: 1.5ch;
	letter-spacing: 0cm;
}
input {
	border: 20cm;
	border-bottom: 3cm;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: pink;
	padding: 1.5ch;
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
}
