body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 400px;
	margin: 0cm;
}
.postcard-body {
	display: flex;
}
.body-left {
	padding: 40px;
}
.body-right {
	padding: 20px;
}
input {
	border: 10cm;
	border-bottom: 3cm;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: pink;
	padding: 1.5ch;
}
